<div class="ui two column grid pane">
  <div class="twelve wide column ">
      <div class="ui fluid card chatbox">
        <div class="content " id="messages">
          <div class="ui feed " id="message_container">
          <%= render @messages %>
          </div>
        </div>
        <div class ="extra content">
          <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%= f.text_field :body, placeholder: "Express yourself..." %>
                <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <div class="four wide column ">
    <div class="ui card chatbox ">
      <div class="content">
        <div class="ui secondary vertical menu">
          <a class="active item">
            Chatroom
          </a>
          <a class="item">
            Channels
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
    <div class="ui container footer">
        <span>&copy; <%=Date.today.year%> !YAP - The Chat App</span>
    </div>
</footer>
