<div class="container">
<div class="ui center aligned basic segment">
  <div class="column">
      <%= form_for(@user, html: {class: "ui form", role: "form"}, url: signup_path) do |f| %>
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <%= f.label :username, "Username" %>
            <i class="user icon"></i>
             <%= f.text_field :username, placeholder: "Username" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, "Password" %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.button "Sign up", class: "ui teal labeled icon button " %>
        <% end %>
      </div>
    </div>
  <div class="ui horizontal divider inverted">
    Or
  </div>
  <div class="ui orange submit button">
    Login

  </div>
</div>
