<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
  </head>
  <body class = "ui container appbackground">
    <%= render "layouts/navigation" %>
    <div class="ui container  ">
      <%= render "layouts/messages" %>
    <%= yield %>
    </div>
  </body>
</html>
